.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  .stepper {
    width: 30%;
  }
  main {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .App {
    flex-direction: column;
    .stepper {
      width: 80%;
    }
    .enterprise-form,
    .existent-enterprise-form {
      .step-buttons {
        justify-content: center;
      }
    }
  }
}